@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

body {
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: linear-gradient(
234deg,#47bfdf,#4a91ff);
    border-radius: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    /*padding-top: 5rem;*/
    margin: 0 auto;
    /*width: 600px;*/
}

.input-with-icon {
  position: relative;
  width: 25rem;
  height: 3.2rem;
  box-sizing: border-box;
  top: 20px;
  margin: 0 auto;
}
.input-with-icon .form-control {
    height: 80%;
    width: 100%;
    padding-right: 3.65rem;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
}
.input-with-icon .icon {
  position: absolute;
  right: 0.3rem;
  top: 0.12rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.input-with-icon .form-control {
  padding-left: 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.weather {
    width: 350px;
    height: 350px;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.card-bg {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    filter: blur(5px);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.today {
    position: relative;
    /*width: 167px;*/width: 50%;
    /*height: 28px;*/height: 0;
    /*left: 124px;
    top: 378px;*/
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: center;
}

.wdgrees {
    position: relative;
    width: 179px;
    height: 173px;
    /* left: 118px; */
    top: 10%;
    margin: 0 auto;
}

.wdall {
    position: relative;
    top: 10%;
}

.wdgrees .numb {
    position: relative;
    width: 100%;
    height: 153px;
    /* left: 138px; */
        /* top: 392px; */
    font-family: Overpass;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 153px;
    color: #FFFFFF;
    /*text-shadow: -4px 8px 50px rgb(0 0 0 / 10%);*/
    margin: 0 auto;
    text-shadow: 0 0 20px rgb(173 173 173 / 80%), 0 0 0 black;
    display: inline;
    text-align: center;
}

.numb .cel {
    position: relative;
    width: 30px;
    height: 110px;
    /*left: 267px;
    top: 409px;*/
    display: inline;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 110px;
    color: #FFFFFF;
    text-shadow: -4px 8px 50px rgba(0, 0, 0, 0.1);
}

.descp {
    position: relative;
    width: 100%;
    height: 37px;
    /* left: 169px; */
    /* top: 534px; */
    font-family: Overpass;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /*line-height: 0;*/
    color: #fff;
    text-shadow: -2px 3px 1px rgb(0 0 0 / 10%);
    text-align: center;
}

.wpanel {
    position: relative;
    width: 100%;
    height: 72px;
    /* left: 98px;*/
    top: 25px;
}

.welement {
    position: relative;
    width: 100%;
    height: 30px;
    box-shadow: inset -1px 1px 2px hsl(0deg 0% 100% / 25%);
    -webkit-filter: drop-shadow(-2px 3px 1px rgba(0,0,0,.1));
    filter: drop-shadow(-2px 3px 1px rgba(0,0,0,.1));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.welement p {
    position: relative;
    height: 28px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-shadow: -2px 3px 1px rgb(0 0 0 / 10%);
    display: inline-block;
    /* margin: 12px; */
}
